<div class="aboutus-section container">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">About Us</h2>
                    <p class="aboutus-text" style="font-weight: bold">Our innovative online classroom
                        provides the closest experience
                        there is to an in-person tutoring
                        lesson. In fact, it’s better.
                        </p>
                    <p class="aboutus-text" style="font-weight: bold">Highly qualified tutors from the best universities
                        across the globe ready to help. An acceptance rate
                        of 4% means all our tutors are thoroughly screened.</p>
                    <p class="aboutus-text" style="font-weight: bold">We cover over 300 subjects across all grade levels.
                        Whether it’s high school algebra or college-level
                        Spanish, we have a tutor that can help.</p>
                    <!-- <a class="aboutus-more" href="#">read more</a> -->
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="../../assets/Image/aboutus.jpg" style="width: 110%;height:120%" alt="image">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3 style="font-weight: bold;font-size: 20px;">1.Request</h3>
                                <p style="font-weight: bold">Tell us what you need help with and our
                                    smart matching system will connect you
                                    with an online tutor. Sign up for a free trial using a debit/credit card.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3 style="font-weight: bold;font-size: 20px;">2.Learn</h3>
                                <p style="font-weight: bold">Get live 1-on-1 help in our advanced
                                    lesson space. Use a virtual whiteboard,
                                    audio/video chat, screen sharing, text
                                    editor and much more.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3 style="font-weight: bold;font-size: 20px;">3.Review</h3>
                                <p style="font-weight: bold">After the lesson is completed, both the
                                    tutor and student have the opportunity to
                                    rate each other, maintaining the quality of
                                    our community.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

