/* You can add global styles to this file, and also import other style files */
.image{
    background-image: url(../src/assets/Image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
