<div class="table-wrapper-scroll-y my-custom-scrollbar bg-white table-hover">

    <table class="table table-bordered table-striped mb-0">
      <thead>
        <tr class="text-center">
          <th scope="col">SL. No.</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of students;index as i">
        <tr>
          <th class="text-center" scope="row">{{i+1}}</th>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td align="center"><button type="button" class="btn btn-{{student.status? 'info':'warning'}}" (click)="blockstudent(student.email,student)" >
            <i class="fa fa-ban mr-1"></i>{{student.status? "Activate" : "Block"}}</button></td>
        </tr>
      </tbody>
    </table>
  
  </div>
